
<!DOCTYPE html>

<html>
<body>
<div class="hero-image">
  <div class="overlay">
 <br> 
 <h4 class="glow">Find out where your favorite acts are playing in Knoxville tonight! Support local live artists!!</h4>   

  </div>
</div>
<!-- Cropped version of photo by <a href="https://unsplash.com/@lucidistortephoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alfonso Scarpa</a> on <a href="https://unsplash.com/s/photos/concert-crowd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
<%= image_tag('heart_hands.jpg', style:'height:440px;width:100%;border-radius:5px;') %> 

<br/>
<br/>
<div class="card">
  <div class="card-header">
  <h3>Upcoming Gigs</h3>
   </div>
     <div class="card-body">
<table class="table table-hover">
  <!--<thead class="thead-secondary"> -->
    <tr>
    <thead class="thead-light">
      <th>Artist</th>
      <th>Genre</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Time</th>
      <th>Tickets</th>
      <th>Additional Comments</th>
            <th colspan="4"></th>
    </tr>
  </thead>


  <tbody>
    <% @gigs.each do |gig| %>   
      <% if gig.gig_when > Date.today %>
      <tr class="hide"> 
        <td><%= link_to gig.artist_name, gig %></td>
        <td><%= gig.gig_genre %></td>
        <td><%= gig.gig_venue %></td>
        <td><%= gig.gig_when.strftime("%m/%d/%Y") %></td>
        <td><%= gig.gig_when.strftime("%-I:%M %p") %></td>
        <td><%= link_to gig.gig_tickets, "http://#{gig.gig_tickets}", :target => "_blank"%></td>
        <td><%= gig.gig_comments %></td>
        <td><% link_to 'Show', gig, class:"btn btn-outline-success my-2 my-sm-0" %></td>
        <td><% link_to 'Edit', edit_gig_path(gig), class:"btn btn-outline-caution my-2 my-sm-0" %></td>
        <td><% link_to 'Destroy', gig, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger my-2 my-sm-0" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>
    </div>
</div>
</body>
</html>
<br/>
<% link_to 'New Gig', new_gig_path, class:"btn btn-outline-info my-2 my-sm-0" %>
